app/*
!app/modules
app/modules/*
!app/modules/custom/
bin/
composer.lock
config-export/
vendor/
.editorconfig
.gitattributes
.idea/
.php/
.env

!app/sites/default/settings.php
!app/sites/default/services.yml
